body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #000000;
  color: #333;
}

header.nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  font-size: 20px;
  padding: 15px 25px;
  background: #1f1f1f;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

header.nav button {
  background: none;
  border: none;
  color: #ee8a08;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 25px;
}

header.nav button:hover,
header.nav button.active {
  background: #c57a17;
}


.hero {
  margin: 250px;
  height: 200px;        
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ee8a08;
}

.hero h1 {
  font-size: 100px;
  margin: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #ee8a08;
}

.hero p {
  font-size: 25px;
  margin: 10px 0 0;
  color: #ee8a08;
}

.hero p1 {
  font-size: 30px;
  margin: 10px 0 0;
  color: #ee8a08;
  font-weight: bold;
}

.button {
  background: #181818;
  color: #ee8a08;
  font-size: 30px;
  padding: 15px 25px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  transition: 0.3s;
}

.age-verification-buttons {
  background: #000000;
  color: #ee8a08;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  column-gap: 20px;
  padding-left: 245px;
  margin-top: 10px;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.gallery {
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 8px #0002;
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  display: block;
}

.card-title {
  padding: 12px;
}

.page {
  padding: 30px;
  max-width: 700px;
  margin: auto;
  margin-top: 50%;
}

.controls {
  padding: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.form-container {
  background-color: #1b1b1b;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 25vh;
}

h2 {
  margin-bottom: 20px;
  color: #ee8a08;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ee8a08;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ee8a08;
  border-radius: 4px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ee8a08;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #383838;
}

p {
  margin-top: 15px;
}

a {
  color: #ee8a08;
  text-decoration: none;
}

a:hover {
  transform: scale(1.05);
  text-decoration: underline;
  text-decoration-color: #ee8a08;
}

#error-message {
    color: #ff4d4d;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
}

#signup-error {
    color: #ff4d4d;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
}
